@tailwind base;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

html {
  scroll-behavior: smooth;
}

h1 {
  @apply font-bold leading-tight;
  font-size: 40px;
}
h2 {
  @apply font-bold mb-4 leading-tight;
  font-size: 32px;
}
h3 {
  @apply text-2xl font-bold;
}
h4 {
  @apply text-xl;
}
h6 {
  @apply uppercase font-medium text-xs text-gray-500 tracking-wider;
}

.btn:hover {
  color: inherit;
}

a:hover {
	@apply text-keppel-600;
}

@tailwind components;
.container {
  max-width: 980px;
}

.container-wide {
  max-width: 1180px;
  padding-right: 1rem;
  padding-left: 1rem;
}

.container-narrow {
  max-width: 726px;
  padding-right: 1rem;
  padding-left: 1rem;
}

.primary {
  @apply font-medium bg-keppel-500 text-white px-6 py-4 rounded;
}

.primary:hover {
  @apply text-white;
}

.secondary {
  @apply font-medium bg-regal-blue text-black px-6 py-4 rounded;
}

.tertiary {
  @apply font-medium bg-gray-100 text-black px-6 py-4 rounded;
}

@tailwind utilities;
